:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.reveal-dash-board {
  min-width: 400px;
  min-height: 200px;
  flex-grow: 1;
  flex-basis: 0;
}
